<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587004383723-1vhofv731a77fvvejetucegdjk3aok48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587004383723-1vhofv731a77fvvejetucegdjk3aok48</string>
	<key>API_KEY</key>
	<string>AIzaSyCy7Xu2S9oTVP8i52-Zqd8nEGY0fybxoMc</string>
	<key>GCM_SENDER_ID</key>
	<string>587004383723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.linusDatingLife</string>
	<key>PROJECT_ID</key>
	<string>linusdatinglife</string>
	<key>STORAGE_BUCKET</key>
	<string>linusdatinglife.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587004383723:ios:f2edfa42085bcd56d989ae</string>
	<key>DATABASE_URL</key>
	<string>https://linusdatinglife.firebaseio.com</string>
</dict>
</plist>